
<div class="jumbotron">
  <h1>Awesome Plans</h1> <br> <br>
  <div class="row">
  <% @plans.each do |plan| %>
    <div class="span2">
      <div class="lead">
        <div class="name"><%= plan.name %></div>
        <div class="price">
          <%= number_to_currency plan.price, unit: "€" %>
        </div>
        <div class="per_week">per week</div>
        <div class="signup">
          <%= link_to "Sign up", new_subscription_path(:plan_id => plan.id), :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="hero-unit">
  <h3>In order to perform test payments, simply use the following credit card numbers:</h3>
  <p class="lead">
    Please be sure to always enter a future date for the credit card date, or an error will be displayed when using the credit card numbers in live mode.
  </p>
  <table class="table table-striped">
    <tbody>
        <tr>
          <td>Visa:</td> 
          <td>4111111111111111</td>
        </tr>
        <tr>
          <td>Mastercard:</td>
          <td>5500000000000004</td>
        </tr>
    </tbody>
  </table>
</div>


